<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teste de Performance - TP1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Anderson Machado</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Principal</a></li>
            <li><a href="/medicamento">Medicamentos</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h3>24E2_5 - Projeto de Bloco: Engenharia de Softwares Escaláveis</h3>
    <p>O objetivo deste projeto é implementar uma API Restful utilizando o framework Spring Boot.</br>
        Os métodos da API estão documentados no swagger e podem ser acessados pelo link: <a href="/swagger-ui/index.html">acessar swagger</a>
    </p>
    <p>Fase: <strong>TP2</strong></p>
</div>

<div class="container">
    <h3>Dados do Aluno:</h3>
    <table>
        <tr><td>Aluno:</td><td>Anderson Soares Miler Machado</td></tr>
        <tr><td>Turma:</td><td>24E2_5</td></tr>
        <tr><td>Disciplina:</td><td>PB Engenharia de Softwares Escaláveis</td></tr>
        <tr><td>Professor:</td><td>Leonardo Silva da Glória</td></tr>
        <tr><td>Github:</td><td><a href="https://github.com/andersonsmachadoinfnet/24E2_1_JavaSpringBoot.git">https://github.com/andersonsmachadoinfnet/24E2_1_JavaSpringBoot.git</a></br>subpasta: appDr1TP1</td> </tr>
    </table>
    <p>Turma: 24E2_5</p>
</div>

</body>
</html>
